@using Groceries.Data
@using Microsoft.EntityFrameworkCore

@layout Layout

@inject AppDbContext DbContext

<PageTitle>Groceries &ndash; New Transaction</PageTitle>

<h1>New Transaction</h1>

<div class="form-field">
    @Transaction.CreatedAt.ToShortDateString() @Transaction.CreatedAt.ToLongTimeString() &ndash; @store
</div>

<form method="post">
    <div class="card form-field">
        <div class="card__header row">
            <h2 class="row__fill">Promotions</h2>
            <a class="button button--primary" href="/transactions/new/promotions/new" autofocus data-turbo-frame="modal">
                New promotion
            </a>
        </div>

        <div class="card__content card__content--table">
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="table__header" style="width: 100%">Name</th>
                        <th scope="col" class="table__header">Items</th>
                        <th scope="col" class="table__header">Amount</th>
                        <th scope="col" class="table__header"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var promotion in Transaction.Promotions)
                    {
                        <tr>
                            <td class="table__cell table__cell--compact">
                                @promotion.Name
                            </td>
                            <td class="table__cell table__cell--compact table__cell--numeric">
                                @promotion.Items.Sum(item => Transaction.Items.Single(i => i.ItemId == item.Id).Quantity)
                            </td>
                            <td class="table__cell table__cell--compact table__cell--numeric">
                                @((-promotion.Amount).ToString("c"))
                            </td>
                            <td class="table__cell table__cell--compact">
                                <a class="link" href="/transactions/new/promotions/edit/@promotion.Id" data-turbo-frame="modal">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td class="table__cell table__cell--compact table__cell--total" colspan="2">Total</td>
                        <td class="table__cell table__cell--compact table__cell--numeric table__cell--total">
                            @Transaction.Total.ToString("c")
                        </td>
                        <td class="table__cell table__cell--compact"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row">
        <button class="button button--primary" type="submit" disabled="@(Transaction.Items.Count == 0)">Save</button>
        <a class="button" href="/transactions/new/items">Back</a>
    </div>
</form>

@code {
    [Parameter]
    public required Transaction Transaction { get; set; }

    private string store = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        store = await DbContext.Stores
            .Where(store => store.Id == Transaction.StoreId)
            .Select(store => string.Concat(store.Retailer!.Name, " ", store.Name))
            .SingleAsync();
    }
}
